.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #D8D8D8;
  margin: 0 6px!important;
  transition: background;
  transition-duration: 700ms;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #5C3CAF;
}

.swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
}

/* .swiper {
  background-color: red;
} */